<div class="right_col" role="main" style="min-height: 99vh;">
    <div class="x_panel">
        <div class="x_title">
            <button class="btn btn-warning" (click)="punchAttendance()"><i class="fa fa-plus"></i> Punch
                Attendance</button>
        </div>
        <div class="x_content" style="display: block;">
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup]="dateRangeForm">
                        <mat-form-field class="example-form-field">
                          <mat-label for="srp_date_range">Enter a date range</mat-label>
                          <mat-date-range-input [rangePicker]="rangePicker" >
                            <input matStartDate formControlName="start" />
                            <input matEndDate formControlName="end" />
                          </mat-date-range-input>
                          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                          <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
                          <mat-date-range-picker #rangePicker>
                            <mat-date-range-picker-actions>
                              <button mat-button matDateRangePickerCancel>Cancel</button>
                              <button mat-raised-button matDateRangePickerApply (click)="onDateChange()">Apply</button>
                            </mat-date-range-picker-actions>
                          </mat-date-range-picker>
                        </mat-form-field>
                      </form>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-12">
                    <ag-grid-angular #attendanceGrid class="ag-theme-quartz ag-theme-acmecorp" style="height: 80vh; width: 100%;"
                    [rowData]="attendances" [columnDefs]="colDefs" [pagination]="pagination" [defaultColDef]="defaultColDef"
                    [components]="frameworkComponents" [paginationPageSize]="paginationPageSize"
                    [paginationPageSizeSelector]="paginationPageSizeSelector"
                    (gridReady)="onGridReady($event)"></ag-grid-angular>
                </div>
            </div>
        </div>
    </div>
</div>
