<div class="right_col"  role="main" style="min-height: 100vh;">
  <div class="row">
    <div class="col-3">
      <div class="form-group">
        <label for="menuType">Type</label>
        <select appSelect2 id="menuType" class="form-control" [(ngModel)]="this.menuType.menuType" name="type" required  (selectionChanged)="getMenusByType($event)">
          <option *ngFor="let mt of menuTypes" [value]="mt.menuType">{{ mt.menuType }}</option>
        </select>
      </div>
    </div>
    <div class="col-9 d-flex justify-content-end align-items-center">
      <button class="btn btn-warning" (click)="openCreateModal()"><i class="fa fa-plus"></i> Create</button>
    </div>
  </div>
    
    <hr/>
    <div class="x_panel">
     <div class="x_content" style="display: block;">
        <div *ngIf="menus.length === 0">
          &nbsp; Menus not found.
          <br/>
        </div>
      
 
          <table datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class="table table-striped text-nowrap" >
            <thead>
              <tr class="headings">
                <th class="column-title">Id </th>
                <th class="column-title">Name </th>
                <th class="column-title">Link</th>
                <th class="column-title">Fa Icon</th>
                <th class="column-title">Parrent</th>
                <th class="column-title">Type</th>
                <th class="column-title">Action</th>
                <th class="column-title">Action</th>
              </tr>
            </thead>
            <tbody *ngIf="menus.length > 0">
              <tr *ngFor="let menu of menus" id="row_{{ menu.m_id }}">
                <td>{{ menu.m_id }}</td>
                <td>{{ menu.m_name }}</td>
                <td>{{ menu.m_link }}</td>
                <td><i class="fa {{menu.m_fa_icon}}"></i></td>
                <td>{{ menu.m_parrent_name }}</td>
                <td>{{ menu.m_type }}</td>
                <td>
                  <button class="btn btn-info" (click)="editMenu(menu.m_id)"><i class="fa fa-edit"></i> edit</button>
                </td>
                <td>
                  <button class="btn btn-danger" (click)="deleteMenu(menu.m_id)"><i class="fa fa-trash"></i> delete</button>
                </td>
              </tr>
            </tbody>
          </table>
       
      </div>
    </div>
  </div> 
  <div class="modal fade" id="menuFormModal"  role="dialog" aria-labelledby="menuFormModalLabel" aria-hidden="true" #userFormModal>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="menuFormModalLabel">{{ menu.m_id ? 'Update Menu' : 'Create Menu' }}</h5>
        </div>
        <div class="modal-body">
          <form  #menuForm="ngForm">
           
            <div class="form-group">
              <label for="m_name">Name</label>
              <input type="text" id="m_name" class="form-control" [(ngModel)]="menu.m_name" name="m_name" required>
              <div class="invalid-feedback" *ngIf="menuForm.submitted && !menu.m_name">
                Name is required
              </div>
            </div>
            <div class="form-group">
              <label for="m_link">Link</label>
              <input type="text" id="m_link" class="form-control" [(ngModel)]="menu.m_link" name="m_link" required>
              <div class="invalid-feedback" *ngIf="menuForm.submitted && !menu.m_link">
                Link is required
              </div>
            </div>
            <div class="form-group">
              <label for="m_fa_icon">Icon</label>
              <input type="text" id="m_fa_icon" class="form-control" [(ngModel)]="menu.m_fa_icon" name="m_fa_icon" >
            </div>
            <div class="form-group">
              <label for="m_name">Type</label>
              <input type="text" id="m_type" class="form-control" [(ngModel)]="menu.m_type" name="m_type" required>
              <div class="invalid-feedback" *ngIf="menuForm.submitted && !menu.m_name">
                Type is required
              </div>
            </div>
            <div class="form-group">
              <label for="m_parrent">Parrent</label>
              <select id="m_type" class="form-control" [(ngModel)]="menu.m_parrent" name="m_parrent" required>
                <option *ngFor="let m of menus" [value]="m.m_id">{{ m.m_name +" - "+m.m_type }}</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" (click)="createOrUpdateMenu()">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>