<div class="right_col" supplier="main" style="min-height: 99vh;">
  <div class="x_panel">
    <div class="x_title">
      <button class="btn btn-warning" (click)="createSupplier()"><i class="fa fa-plus"></i> Create</button>
      <div class="clearfix"></div>
    </div>
    <div class="x_content" style="display: block;">
      <div *ngIf="suppliers.length === 0">
        &nbsp;No Suppliers found.
        <br />
      </div>


      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="table table-striped jambo_table bulk_action">
        <thead>
          <tr class="headings">
            <th class="column-title">Id </th>
            <th class="column-title">Name </th>
            <th class="column-title">Is Active</th>
            <th class="column-title">Created By </th>
            <th class="column-title">Created On </th>
            <th class="column-title no-link last"><span class="nobr">Action</span></th>
            <th class="column-title no-link last"><span class="nobr">Action</span></th>
          </tr>
        </thead>
        <tbody *ngIf="suppliers.length > 0">
          <tr *ngFor="let supplier of suppliers" id="row_{{ supplier.s_id }}">
            <td>{{ supplier.s_id }}</td>
            <td>{{ supplier.s_name }}</td>
            <td>{{ supplier.s_active_yn }}</td>
            <td>{{ supplier.s_cre_by_name }}</td>
            <td>{{ supplier.s_cre_date }}</td>
            <td>
              <button class="btn btn-info" (click)="editSupplier(supplier.s_id)">
                <i class="fa fa-edit"></i> edit
              </button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteSupplier(supplier.s_id)">
                <i class="fa fa-trash"></i> delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- modal.component.html -->

<div class="modal fade" id="supplierFormModal" tabindex="-1" supplier="dialog" aria-labelledby="supplierFormModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" supplier="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="supplierFormModalLabel">{{ supplier.s_id ? 'Update Supplier' : 'Create Supplier' }}
        </h5>
      </div>
      <div class="modal-body">
        <form #userForm="ngForm">
          <div class="form-group">
            <label for="s_name">Name</label>
            <input type="text" id="s_name" class="form-control" [(ngModel)]="supplier.s_name" name="s_name" required>
            <div class="invalid-feedback" *ngIf="userForm.submitted && !supplier.s_name">
              Name is required
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-end">
        <button type="submit" class="btn btn-primary" (click)="createOrUpdateSupplier()">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>