<div class="right_col"  role="main" style="min-height: 100vh;">
    <div class="row">
        <div class="col-12 d-flex justify-content-start align-items-center">
                <div *ngFor="let option of menuTypes" >
                    <label class="btn btn-secondary" >
                            <input type="radio" [id]="option.menuType" [value]="option.menuType" name="options" [(ngModel)]="this.menuType" (change)="onOptionChange(option.menuType)"  />
                            {{option.menuType}}
                    </label>
                </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-5">
                <div class="form-group">
                    <label  class="control-label">Role List</label>
                    <select appSelect2 #u_role_id class="form-control"  name="u_role_id" required [(ngModel)]="this.role" (selectionChanged)="getMenusByRoleAndType($event)">
                        <option *ngFor="let role of roles" [value]="role.r_id" >{{ role.r_name }}</option>
                      </select>
                </div>
        </div>
        <div class="col-7 d-flex justify-content-start">
            <div class="form-group">
                <button type="button"  class="btn btn btn-success" style="margin-top: 19px;" (click)="createOrUpdateRoleMenu();"> <i class="fa fa-save"></i> Save</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <div class="form-group">
                <label>All Functions</label>
                <select name="from" id="multiselect" class="form-control" size="30" multiple="multiple" #multiselectleft>
                    <option *ngFor="let m of allMenus; let i = index" [value]="m.m_id">
                      {{ m.m_name + (m.m_link ? ' - ' + m.m_link : '') }}
                    </option>
                  </select>
                  
            </div>
        </div>
        <div class="col-2">
            <div class="form-group d-flex flex-column">
                <button type="button" id="multiselect_rightAll" class="btn btn-block" (click)="rightAll()">
                    <i class="fa fa-forward"></i>
                </button>
                <button type="button" id="multiselect_rightSelected" class="btn btn-block" (click)="rightSelected()">
                    <i class="fa fa-chevron-right"></i>
                </button>
                <button type="button" id="multiselect_leftSelected" class="btn btn-block" (click)="leftSelected()">
                    <i class="fa fa-chevron-left"></i>
                </button>
                <button type="button" id="multiselect_leftAll" class="btn btn-block" (click)="leftAll()">
                    <i class="fa fa-backward"></i>
                </button>
            </div>
        </div>
        <div class="col-5">
            <div class="form-group">
                <label>Allowed Functions</label>
                <select name="to" id="multiselect_to" class="form-control" size="30" multiple="multiple" #multiselectright>
                        <option *ngFor="let m of allowedMenus; let i = index" [value]="m.m_id"> {{ m.m_name + (m.m_link ? ' - ' + m.m_link : '') }}</option>
                </select>
            </div>
        </div>
    </div>
</div>